<div class="row header">
  <div class="col-sm-4 site-logo">
  	<%= link_to "ODIN FACEBOOK", root_path %>
  </div>
  <div class="col-sm-4">
  	

  </div>
  <div class="col-sm-4">
  	
  	<div class="dropdown">
  		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  			Menu
  			<span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  			<%= render 'layouts/menu' %>
  		</ul>
  	</div>

  </div>
</div>