<h1>Show Event</h1>
<div>
	Event owner: <%= @event.owner.name %>
</div>
<div>
	Event description: <%= @event.description %>
</div>
<div>
	Event location: <%= @event.location %>
</div>
<div>
	Event date: <%= @event.date %>
</div>
